<!DOCTYPE html>
<html ng-app="devhubApp">
  <head>
    <title>Devhub</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="javascripts/angular.js"></script>
    <script src="javascripts/devhubapp.js"></script>
  </head>
  <body>
    <h1 id="title">Devhub Search</h1>
  </body>
</html>
